src/GUI/Resources/Raw/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Salaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FirstName" type="xs:string" />
                    <xs:element name="LastName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Faculty" type="xs:string" />
              <xs:element name="Chair" type="xs:string" />
              <xs:element name="Role" type="xs:string" />
              <xs:element name="Salary" type="xs:unsignedShort" />
              <xs:element name="TimeTenure" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>